*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
}

button{
    background-color: rgb(155, 155, 155);
    border: 5px black;
    border-radius: 10px;
    padding: 25px;

}

.title{
    width: 100%;
}

.HTML{
    background-color: rgb(155, 155, 155);
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.HTML h2{
    background-color: rgb(155, 155, 155);
}

.HTML p{
    background-color: rgb(155, 155, 155);
}

.HTML ol{
    background-color: rgb(155, 155, 155);
}

.HTML li{
    background-color: rgb(155, 155, 155);
}

.HTML a{
    background-color: rgb(155, 155, 155);
}

.CSS{
    background-color: rgb(155, 155, 155);
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.CSS h2{
    background-color: rgb(155, 155, 155);
}

.CSS p{
    background-color: rgb(155, 155, 155);
}

.CSS ol{
    background-color: rgb(155, 155, 155);
}

.CSS li{
    background-color: rgb(155, 155, 155);
}

.CSS a{
    background-color: rgb(155, 155, 155);
}

.CodecademyProjects{
    background-color: rgb(155, 155, 155);
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.CodecademyProjects h2{
    background-color: rgb(155, 155, 155);
}

.CodecademyProjects p{
    background-color: rgb(155, 155, 155);
}

.CodecademyProjects ol{
    background-color: rgb(155, 155, 155);
}

.CodecademyProjects li{
    background-color: rgb(155, 155, 155);
}

.CodecademyProjects a{
    background-color: rgb(155, 155, 155);
}