#Introduction{
  background: currentColor;
  border-radius: 100%;
  content: " ";
  display: inline-block;
  height: 0.5rem;
  left: -1.25rem;
  line-height: 1.6;
  position: absolute;
  text-align: center;
  top: 0.6rem;
  width: 0.5rem;
}