.font-family{
  font-family: Helvetica;
}

.font-size{
  font-size: 50px;
}

.font-weight{
  font-weight: bold;
}

.text-align{
  text-align: right;
}

#ColorandBackgroundColor{
  color:red;
  background-color: black;
}

#opacity{
  opacity: .50;
}

#backgroundimage{
  background-image: url('Background image background image.png');
color: white;
}

#ImportantTest{
  color:red !important;
}

#Important{
  color:orange;
}

