/*ul{
  font: Times New Roman;
  color: gray;
  
}*/

/*h2{
  color: Grey;
}*/

*{
  font: calibri;
  /*border: 1px solid red;*/
}



.new{
  color: red;
}
.test{
  color: blue;
}

/*#ID{
  color: green;
}*/

a[href]{
  color: magenta;
}

#pseudo-class:hover{
  background-color: lightgrey;
}

#ClassesandIDs{
  color: blue;
}

section.new#MultipleClasses{
  color: green;
}

#DescendantCombinator li{
  color:Blue;
}

p, li{
 color: black;
}